{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="container mt-5">
  <h2 class="text-center fw-bold mb-4">🛑 Road Signs</h2>
  <p class="text-center text-muted mb-5">
    Learn the meaning of essential road signs used across Pakistan.
  </p>

  <div class="row text-center">
    <div class="col-md-6 mb-6">
      <img src="{% static 'images/14_0.jpg' %}" class="img-fluid mb-2" alt="Stop Sign">
      {% comment %} <h5>Stop Sign</h5>
      <p class="text-muted">Drivers must come to a complete stop.</p> {% endcomment %}
    </div>
    
    <div class="col-md-6 mb-6">
      <img src="{% static 'images/15_0.jpg' %}" class="img-fluid mb-2" alt="No Entry">
    </div>
    
    <div class="col-md-6 mb-6">
      <img src="{% static 'images/16_0.jpg' %}" class="img-fluid mb-2" alt="Roundabout">
    </div>
    
    <div class="col-md-6 mb-6">
      <img src="{% static 'images/17_0.jpg' %}" class="img-fluid mb-2" alt="No Entry">
    </div>

    <div class="col-md-6 mb-6">
      <img src="{% static 'images/18_0.jpg' %}" class="img-fluid mb-2" alt="No Entry">
    </div>

    <div class="col-md-6 mb-6">
      <img src="{% static 'images/19_0.jpg' %}" class="img-fluid mb-2" alt="No Entry">
    </div>

    <div class="col-md-6 mb-6">
      <img src="{% static 'images/20_0.jpg' %}" class="img-fluid mb-2" alt="No Entry">
    </div>

    <div class="col-md-6 mb-6">
      <img src="{% static 'images/21_0.jpg' %}" class="img-fluid mb-2" alt="No Entry">
    </div>
    
    <div class="col-md-6 mb-6">
      <img src="{% static 'images/22_0.jpg' %}" class="img-fluid mb-2" alt="No Entry">
    </div>

    <div class="col-md-6 mb-6">
      <img src="{% static 'images/23_0.jpg' %}" class="img-fluid mb-2" alt="No Entry">
    </div>

  </div>
</div>

{% endblock %}
